*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/*cabeçalho*/
@media (min-width:769px){
    header{
        top: 0;
        position: absolute;
        width: 100%;
        height: 80px;
        background: #6BAE86;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        color: white;
    }

    header figure img{
        margin-top: 15px;
        max-width: 150px;
    }

    header a{
        color: white;
        text-decoration: none;
        font-weight: bolder;
        font-weight: bold;
        margin: 0 15px;
    }

    nav figure img{
        max-width: 20px;
    }

    .user-icon{
        width: 30px;
        margin-right: 20px;
    }

    .user-icon img{
        width: 100%;
        max-width: 30px;
    }

    .user-icon img{
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(1) invert(1);
    }
    /*conteúdo*/
    h1{
        padding: 168px 0 49px;
        width: 100%;
        color: #13293D;
        text-align: center;
        text-decoration: none;
        font-weight: bolder;
    }

    main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #E8F1F3;
        border: 1px solid #9D9CE4;
        border-radius: 15px;
        width: 896px;
        height: 800px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    main h2{
        margin-top: 20px;
    }

    main .criar_Conta{
        text-decoration: none;
        text-align: center;
        font-size: .9em;
        width: 30%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-weight: bolder;
        background-color: #6BAE86;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;    
    }
    select, input{
        background-color: #FCFEFF;
        width: 510px;
        height: 54px;
        border-radius: 12px;
        margin-top: 15px;    
        padding: 10px;
        font-size: 15px;
        font-weight: bolder;
    }

    label{
        font-weight: 3em;
        font-weight: bold;
        margin-top: 15px;
    }
    .mapa{
        width: 100px;
        margin-right: 600px;
        margin-top: 10px;
    }

    .mapa img{
        width: 700px;
        height: 300px;
    }

    /*rodapé*/
    footer{
        margin-top: 144px;
        background-color: #EFF9FB;
        width: 100%;
        height: 128px;
        position: relative;
        left: 0;
        bottom: 0;
    }
    .rodape{
        padding: 40px 50px;
        font-size: 20px;
        color: black;
}
}
@media (max-width:799px){
    header{
        top: 0;
        position: absolute;
        width: 100%;
        height: 80px;
        background: #6BAE86;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        color: white;
    }
    header figure img{      
        margin-top: 15px;
        max-width: 100px;
    }
    
    header a{
        color: white;
        text-decoration: none;
        font-weight: bolder;
        font-weight: bold;
        margin: 0 5px;
        font-size: 10px;
    }
    
    nav figure img{
        max-width: 20px;
    }
    
    .user-icon{
        width: 30px;
        margin-right: 10px;
    }
    
    .user-icon img{
        width: 100%;
        max-width: 25px;
    }
    
    .user-icon img{
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(0) invert(1);
    }

    /*conteúdo*/
    h1{
        padding: 168px 0 49px;
        width: 100%;
        color: #13293D;
        text-align: center;
        text-decoration: none;
        font-weight: bolder;
    }

    main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #E8F1F3;
        border: 1px solid #9D9CE4;
        border-radius: 15px;
        width: 90%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    main h2{
        margin-top: 20px;
    }

    main .criar_Conta{
        text-decoration: none;
        text-align: center;
        font-size: .9em;
        width: 40%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-weight: bolder;
        background-color: #1C99E0;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;    
    }
    select, input{
        background-color: #FCFEFF;
        border-radius: 12px;
        margin-top: 15px;    
        padding: 10px;
        font-size: 15px;
        font-weight: bolder;
        width: 200px;
        height: 54px;
    }

    label{
        font-weight: 3em;
        font-weight: bold;
        margin-top: 20px;
    } 
    footer{
        margin-top: 144px;
        background-color: #EFF9FB;
        width: 100%;
        height: 128px;
        position: relative;
        left: 0;
        bottom: 0;
    }
    .rodape{
        padding: 40px 50px;
        font-size: 12px;
        color: black;
    }
}