*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
@media (min-width:769px){
/*cabeçalho*/
header{
    top: 0;
    position: absolute;
    width: 100%;
    height: 80px;
    background: #016494;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: white;
}

header figure img{
    margin-top: 15px;
    max-width: 150px;
}

header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-weight: bold;
    margin: 0 15px;
}

nav figure img{
    max-width: 20px;
}

.user-icon{
    width: 30px;
    margin-right: 20px;
}

.user-icon img{
    width: 100%;
    max-width: 30px;
}

.user-icon img{
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

h1{
    padding: 168px 0 49px;
    width: 100%;
    color: #13293D;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}

.cards-container{
    padding: 20px; 
    box-sizing: border-box;
    height: 300px;
    width: 380px;
    border: 1px solid #9D9CE4;
    border-radius: 12px;
    margin-bottom: 20px;
    background-color: #E8F1F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.people-row img{
    mix-blend-mode: multiply;
    width: 82.12px;
    height: 70.6px;
    margin-top: 10px;
}

main div h2{
    color: #13293D;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 64px;
    margin-top: 10px;
}

main div h3{
    color: #13293D;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.descricoes{
    margin-top: 38px;
}

.description{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
}

.description img{
    mix-blend-mode: multiply;
    max-width:20px;
    max-height:32px;
    width: auto;
    height: auto;
    margin-right: 20px;
}

.descricoes a{
    text-decoration: none;
    text-align: center;
    font-size: .9em;
    width: 86%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    background-color: #1C99E0;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

footer{
    margin-top: 144px;
    background-color: #EFF9FB;
    width: 100%;
    height: 128px;
    position: relative;
    left: 0;
    bottom: 0;
}
.rodape{
    padding: 40px 50px;
    font-size: 20px;
    color: black;
}
}
@media (max-width:799px){
    header{
        top: 0;
        position: absolute;
        width: 100%;
        height: 80px;
        background: #016494;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        color: white;
    }
    header figure img{      
        margin-top: 15px;
        max-width: 100px;
    }
    
    header a{
        color: white;
        text-decoration: none;
        font-weight: bolder;
        font-weight: bold;
        margin: 0 5px;
        font-size: 10px;
    }
    
    nav figure img{
        max-width: 20px;
    }
    
    .user-icon{
        width: 30px;
        margin-right: 10px;
    }
    
    .user-icon img{
        width: 100%;
        max-width: 25px;
    }
    
    .user-icon img{
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(1) invert(1);
    }

    main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }
    
    h1{
        padding: 168px 0 49px;
        width: 100%;
        color: #13293D;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 40px;
    }
    
    .cards-container{
        padding: 10px;
        box-sizing: border-box;
        height: 300px;
        width: 330px;
        border: 1px solid #9D9CE4;
        border-radius: 12px;
        margin-bottom: 20px;
        background-color: #E8F1F3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    
    .people-row img{
        mix-blend-mode: multiply;
        width: 82.12px;
        height: 70.6px;
        margin-top: 10px;
        max-width: 5px 5px;
    }
    
    main div h2{
        color: #13293D;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 64px;
        margin-top: 10px;
    }
    
    main div h3{
        color: #13293D;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
    }
    
    .descricoes{
        margin-top: 38px;
    }
    
    .description{
        display: flex;
        flex-direction: row;
        font-size: 14px;
        font-weight: bold;
        text-align: justify;
    }
    
    .description img{
        mix-blend-mode: multiply;
        max-width:20px;
        max-height:32px;
        width: auto;
        height: auto;
        margin-right: 20px;
    }
    
    .descricoes a{
        text-decoration: none;
        text-align: center;
        font-size: .9em;
        width: 86%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-weight: bold;
        background-color: #1C99E0;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 10px;
    }
    
    footer{
        margin-top: 144px;
        background-color: #EFF9FB;
        width: 100%;
        height: 128px;
        position: relative;
        left: 0;
        bottom: 0;
    }
    .rodape{
        padding: 40px 50px;
        font-size: 12px;
        color: black;
    }
}
